.api-details-container .endpoint-info-container p {
  border: 1px solid grey;
  border-radius: 5px;
}
.api-details-container .endpoint-info-container p span:first-child {
  background: green;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}
.api-details-container .endpoint-info-container p span:nth-child(2) {
  font-size: 13px;
}
.api-details-container .endpoint-info-container p span:last-child {
  float: right;
  padding: 0 5px;
  color: #0000ff;
  cursor: pointer;
}
.api-details-container .endpoint-info-container p span:last-child :hover {
  color: #4747F6;
}
